# Build and dependencies
.build/
.build
build/
*.mdb
*.pack
firebase-ios-sdk*/
.swiftpm/
myapp.xcworkspace/
myapp.xcodeproj/
myappTest/
myappUITests/

# Dependencies
node_modules/
.next/
out/
amplify/


# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Local env files
.env*.local
.env.local
.env


# Cache
.cache/
.eslintcache


# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
