# Xcode
.DS_Store
xcuserdata/
*.xcuserstate
DerivedData/
*.hmap
*.ipa
*.xcarchive

# Firebase
GoogleService-Info.plist

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
.swiftpm/

# User settings
xcuserdata/
*.xcuserdatad/ 